<!DOCTYPE html>
<html>
<head>
  <title>Txtblx</title>
  <%= stylesheet_link_tag    "txtblx/application", media: "all" %>
  <%= javascript_include_tag "txtblx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
